TrabajoPractico1/Debug/
TrabajoPractico1/x64/Debug/

TrabajoPractico1/Release/
TrabajoPractico1/x64/Release/

TrabajoPractico1/Ejercicio1/Debug/
TrabajoPractico1/Ejercicio1/x64/Debug/

TrabajoPractico1/Ejercicio1/Release/
TrabajoPractico1/Ejercicio1/x64/Release/

TrabajoPractico1/TrabajoPractico1\.VC\.db
